:root {
  --teal-dark: #215c54;
  --teal: #35897e;
  --light-green: #59ce72;
  --pale-green: #e0f6ca; /* OUTGOING CHAT BUBBLE */
  --blue: #4fb6ec; /* CHECKMARK BLUE  */
  --selected-hot: linear-gradient(to bottom, #ffe677d5, #fd5f51ce);
  --selected-cold: linear-gradient(to bottom, #20bed0c2, #007fb6c4);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  /* background-color: var(--selected-gray); */
  background: url("./assets/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg") no-repeat center center/cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
